<section class="container">
    <article class="text-container" fxLayout="row" fxLayoutAlign="space-evenly">
        <div class="text-container__header" fxFlex="25" fxLayout="column">
            <h1 #headerRef>A brief glimpse into my <span class="text-container__exciting">exciting</span> life.</h1>
            <ion-icon name="arrow-down-outline" class="text-container__arrow-down"></ion-icon>
        </div>
        <app-animated-text class="text-container__description" 
            fxFlex="35"
            [text]="DESCRIPTION"></app-animated-text>
    </article>
</section>
