.container {
    cursor: none;
    position: relative;
    width: 100%;
    height: 100%;
    padding: 10rem 0;
}

.decorations {
    overflow: hidden;

    &__design-label {
        margin-top: 40rem;
        font-size: 20rem;
        opacity: 0.2;
    }

    &__deploy-label {
        margin-left: auto;
        margin-right: -6rem;
        font-size: 16rem;
        opacity: 0.3;
        transform: rotate(90deg);
    }

    &__develop-label {
        margin-bottom: 20rem;
        margin-left: 5rem;
        font-size: 14rem;
        opacity: 0.3;
    }
}

.content {
    opacity: 0;
    position: sticky;
    margin: 0 auto;
    bottom: calc(50vh - 15rem);
    max-width: 68.75rem;
    height: 30rem;

    &--mobile {
        bottom: calc(35vh);
    }

    &__name {
        margin-left: 6rem;

        &--mobile {
            text-align: center;
            margin-left: 0rem;
        }
    }

    &__computer {
        margin-top: -4rem;
        display: block;
        width: 30rem;
        height: 30rem;
        object-fit: cover;

        &--mobile {
            margin: 0 auto;
            width: 70vw;
        }
    }

    &__cursor {
        transform: rotate(-90deg);
        position: absolute;
        top: 24rem;
        left: 13.5rem;
        opacity: 0;
    }

    &__bio {
        margin-top: 3rem;

        &--mobile {
            margin: 0 auto;
            width: 90vw;
        }
    }
}

.accessories {
    margin-top: -3rem;

    &__keyboard {
        margin-top: auto;
        margin-bottom: auto;
        margin-right: 2.5rem;
        max-height: 10rem;
        object-fit: contain;
    }

    &__mouse {
        margin: auto 0;
        max-height: 3rem;
        object-fit: contain;
    }
}