<section class="container" fxLayout="column" #container>
    <ion-icon name="navigate" class="container__cursor" #transformRef></ion-icon>
    <img src="assets/images/desktop.png" alt="Mac Desktop" class="container__desktop">
    <article class="accessories" fxLayout="row" fxLayoutAlign="center">
        <img src="assets/images/keyboard.png" alt="Keyboard" class="accessories__keyboard">
        <img src="assets/images/mouse.png" alt="Mouse" class="accessories__mouse" #transformRef>
    </article>
</section>
