<section class="transition-top" ngClass.lt-md="transition-top--mobile" fxLayout="row" fxLayoutAlign="space-between" #transitionRef>
    <div class="transition-top__block" ngClass.lt-md="transition-top__block--mobile" #transitionBlock></div>
    <div class="transition-top__block" ngClass.lt-md="transition-top__block--mobile" #transitionBlock></div>
    <div class="transition-top__block" ngClass.lt-md="transition-top__block--mobile" #transitionBlock></div>
    <div class="transition-top__block" ngClass.lt-md="transition-top__block--mobile" #transitionBlock></div>
    <div class="transition-top__block" ngClass.lt-md="transition-top__block--mobile" #transitionBlock></div>
    <div fxHide.lt-md class="transition-top__block" #transitionBlock></div>
    <div fxHide.lt-md class="transition-top__block" #transitionBlock></div>
    <div fxHide.lt-md class="transition-top__block" #transitionBlock></div>
    <div fxHide.lt-md class="transition-top__block" #transitionBlock></div>
    <div fxHide.lt-md class="transition-top__block" #transitionBlock></div>
    <div fxHide.lt-md class="transition-top__block" #transitionBlock></div>
</section>
<section class="transition-bottom" fxLayout="row" fxLayoutAlign="space-between">
    <div class="transition-bottom__block" ngClass.lt-md="transition-bottom__block--mobile" #transitionBlock></div>
    <div class="transition-bottom__block" ngClass.lt-md="transition-bottom__block--mobile" #transitionBlock></div>
    <div class="transition-bottom__block" ngClass.lt-md="transition-bottom__block--mobile" #transitionBlock></div>
    <div class="transition-bottom__block" ngClass.lt-md="transition-bottom__block--mobile" #transitionBlock></div>
    <div class="transition-bottom__block" ngClass.lt-md="transition-bottom__block--mobile" #transitionBlock></div>
    <div class="transition-bottom__block" ngClass.lt-md="transition-bottom__block--mobile" #transitionBlock></div>
    <div fxHide.lt-md class="transition-bottom__block" #transitionBlock></div>
    <div fxHide.lt-md class="transition-bottom__block" #transitionBlock></div>
    <div fxHide.lt-md class="transition-bottom__block" #transitionBlock></div>
    <div fxHide.lt-md class="transition-bottom__block" #transitionBlock></div>
    <div fxHide.lt-md class="transition-bottom__block" #transitionBlock></div>
    <div fxHide.lt-md class="transition-bottom__block" #transitionBlock></div>
</section>